<div class="container-xl">
    <form
        class="w-50 mx-auto"
        #form="ngForm">
        <div class="mb-3">
            <label
                class="form-label"
                for="username">
                Username
            </label>
            <input
                class="form-control"
                type="text"
                id="username"
                name="username"
                required
                #username="ngModel"
                [(ngModel)]="registerDto.username" />
            <div
                *ngIf="username.invalid"
                class="text-danger">
                Username must not be empty.
            </div>
        </div>
        <div class="mb-3">
            <label
                class="form-label"
                for="password">
                Password
            </label>
            <input
                class="form-control"
                type="password"
                name="password"
                [(ngModel)]="registerDto.password"
                required
                #password="ngModel"
                id="password" />
            <div
                *ngIf="password.invalid"
                class="text-danger">
                Password must not be empty.
                {{ password.value }}
            </div>
        </div>
        <div class="mb-3">
            <label
                class="form-label"
                for="repeat-password">
                Repeat password
            </label>
            <input
                class="form-control"
                type="password"
                ngModel
                required
                #repeatPasswordInput="ngModel"
                name="repeat-password"
                id="repeat-password" />
            <div
                *ngIf="
                    repeatPasswordInput.invalid ||
                    repeatPasswordInput.value !== password.value
                "
                class="text-danger">
                <ng-container
                    *ngIf="repeatPasswordInput.errors?.['required']; else passwordNotMatching">
                    Repeat password is required.
                </ng-container>
                <ng-template #passwordNotMatching>
                    Repeat password must match password.
                </ng-template>
            </div>
        </div>
        <div class="mb-3">
            <label
                class="form-label"
                for="email">
                Email address
            </label>
            <input
                class="form-control"
                type="email"
                name="email"
                required
                email="true"
                #emailAddress="ngModel"
                [(ngModel)]="registerDto.emailAddress"
                id="email" />
            <div
                *ngIf="emailAddress.invalid"
                class="text-danger">
                <ng-container
                    *ngIf="emailAddress.errors?.['required']; else invalidEmail">
                    Email must not be empty.
                </ng-container>
                <ng-template #invalidEmail>Email must be valid.</ng-template>
            </div>
        </div>
        <div class="mb-3">
            <label
                class="form-label"
                for="phoneNumber">
                Phone number
            </label>
            <input
                class="form-control"
                type="tel"
                name="phoneNumber"
                pattern="^[1-9]\d{8}$"
                #phoneNumber="ngModel"
                required
                [(ngModel)]="registerDto.phoneNumber"
                id="phoneNumber" />
            <div
                *ngIf="phoneNumber.invalid"
                class="text-danger">
                <ng-container *ngIf="phoneNumber.errors?.['required']">
                    Phone number is required.
                </ng-container>
                <ng-container *ngIf="phoneNumber.errors?.['pattern']">
                    Phone number must be 9 digits long.
                </ng-container>
            </div>
        </div>
        <button
            type="submit"
            [disabled]="form.invalid"
            class="btn btn-primary"
            (click)="register()">
            Register
        </button>
    </form>
</div>
