<nav class="navbar navbar-expand-sm navbar-dark bg-primary fs-5 mb-3">
    <div class="container-xl justify-content-end justify-content-sm-center">
        <button
            class="navbar-toggler"
            type="button"
            (click)="isCollapsed = !isCollapsed">
            <i class="bi bi-list"></i>
        </button>
        <div
            class="collapse navbar-collapse"
            [ngbCollapse]="isCollapsed"
            (click)="isCollapsed = true">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li>
                    <a
                        routerLink="/products"
                        routerLinkActive="true"
                        class="nav-link"
                        [ngClass]="{ active: this.router.url === '/products' }">
                        Products
                    </a>
                </li>
                <li
                    class="nav-item"
                    *ngIf="authService.role === 'ADMIN'">
                    <a
                        routerLink="/orders"
                        class="nav-link"
                        [ngClass]="{ active: this.router.url === '/orders' }">
                        Orders
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav flex-wrap">
                <li
                    *ngIf="authService.role !== 'ADMIN'"
                    class="nav-item">
                    <span
                        (mouseleave)="p.close()"
                        class="nav-link">
                        <span
                            [ngbPopover]="PopoverContent"
                            (mouseenter)="p.open()"
                            [popoverTitle]="PopoverTitle"
                            autoClose="outside"
                            popoverClass="popover-custom"
                            #p="ngbPopover">
                            <a
                                routerLink="/cart"
                                class="nav-link d-inline"
                                [ngClass]="{
                                    active: this.router.url === '/cart'
                                }">
                                <i
                                    class="bi bi-cart4 position-relative px-1 mt-1">
                                    <ng-container *ngIf="cartService.count > 0">
                                        <span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger badge-text">
                                            {{ cartService.count }}
                                        </span>
                                    </ng-container>
                                </i>
                            </a>
                        </span>
                        <a
                            class="nav-link d-inline"
                            routerLink="/cart"
                            [ngClass]="{ active: this.router.url === '/cart' }">
                            Cart
                        </a>
                    </span>
                </li>
                <ng-container *ngIf="!authService.authenticated">
                    <li class="nav-item">
                        <a
                            routerLink="/login"
                            class="nav-link"
                            [ngClass]="{
                                active: this.router.url === '/login'
                            }">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a
                            routerLink="/register"
                            class="nav-link"
                            [ngClass]="{
                                active: this.router.url === '/register'
                            }">
                            Register
                        </a>
                    </li>
                </ng-container>
                <li
                    *ngIf="authService.authenticated"
                    class="nav-item d-flex align-items-center">
                    <button
                        class="btn btn-danger"
                        (click)="onLogout()">
                        Log out
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<ng-template #PopoverTitle>
    <span class="text-dark fw-bold fs-5">Cart</span>
</ng-template>

<ng-template #PopoverContent>
    <app-cart-popover></app-cart-popover>
</ng-template>
